.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-bg-secondary);
  color: #fff;
}

.logo {
  padding: 12px;
}

.informations {
  margin-right: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  align-items: center;

  gap: 20px;
}

.information {
  height: 20px;
  width: 60px;
  padding: 12px;
  text-align: center;
  border-radius: 12px;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
