html {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
}

body {
  height: 100dvh;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
