.section {
  background-color: var(--color-bg-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-family: "Palatino", cursive;
}

.container {
  padding: 2rem;
  width: 100%;
  font-family: "Palatino", cursive;
}

.title {
  -webkit-text-stroke: 0.1vmin var(--color-black);
  font-size: 2rem;
  font-weight: 900;
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  line-height: 0.95;
  margin: 0 0 1rem 0;
  padding-top: 10px;
  transform: rotate(-3deg);
  animation: fadeIn 1s ease-out;
}

.description {
  -webkit-text-stroke: 0.1vmin var(--color-black);
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.warning {
  border: 1px solid var(--color-black);
  border-radius: 12px;
  box-shadow: 4px 4px 4px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 1rem;
  color: var(--color-orange);
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  font-size: bold;
}
