.section {
  position: relative;
  flex-grow: 1;
  display: flex;
  max-width: 100vw;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: hsl(98, 40%, 50%);
  overflow: hidden;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: hsl(204, 80%, 80%);
}

.gridContainer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  align-content: center;
  width: 90%;
  height: 90%;
}

.holeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  position: relative;
}
.holeContainer:nth-child(1),
.holeContainer:nth-child(2),
.holeContainer:nth-child(3) {
  transform: translate(0%, -30%) scale(0.6);
}

.holeContainer:nth-child(4),
.holeContainer:nth-child(5),
.holeContainer:nth-child(6) {
  transform: translate(0%, -40%) scale(0.7);
}

.holeContainer:nth-child(7),
.holeContainer:nth-child(8),
.holeContainer:nth-child(9) {
  transform: translate(0%, 0%) scale(1);
}

.hole {
  cursor: crosshair;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.mole {
  cursor: crosshair;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.moleContainer {
  position: relative;
}

.pointsDisplay {
  font-size: 1.9rem;
  position: fixed;
  top: 0px;
  font-weight: 900;
  pointer-events: none;
  animation: fadeOut 1s ease-out;
  -webkit-text-stroke: 0.1vmin var(--color-black);
  opacity: 0;
  text-shadow: 3px 3px 0 var(--color-white), -1px -1px 0 var(--color-white),
    1px -1px 0 var(--color-white), -1px 1px 0 var(--color-white),
    1px 1px 0 var(--color-white);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}

.hole::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgb(32, 21, 8) 0%,
    hsl(35, 40%, 20%) 100%
  );
  background: -webkit-radial-gradient(
    ellipse at center,
    rgb(32, 21, 8) 0%,
    hsl(35, 40%, 20%) 100%
  );
  border-radius: 50%;
  bottom: 0;
  left: 0;
  transform: translateY(50%) scaleX(1);
}
